/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
 .pisol_buy_now_button{
    padding:10px 15px !important;
    margin-top:10px !important;
    margin-bottom:10px !important;
    display: block !important;
    text-align: center !important;
    width:100% !important;
}

.pisol-ck-product-row{
   display: flex;
   align-items: center;
}

.pisol-ck-product-row.pi-inline{
   display:inline-block;
}
.pisol-ck-product-row .remove{
   margin-right:7px;
}

.pisol-ck-product-row  .pisol_product_name{
   width:100%;
}

.pisol-ck-product-row .pisol-qty{
   margin-right: 0px;
   margin-left: auto;
   text-align: center;
}

.pisol-ck-product-row .quantity input{
   width:70px;
   padding:5px;
   text-align: center;
}

form.woocommerce-checkout .remove{
   margin-right:7px;
   display:inline !important;
}